
/* Colors */
$primaryColor:#4A21FC;
$secundaryColor:#D2D2D2;
$tertiaryColor:#fff;
$quaternaryColor:#545454;
$quinaryColor:#000;
$senaryColor:#232528;

/* Height & width */
$height: 14rem;
$width: 18rem;

/* Padding */
$padding: 0.5rem;

/* Font */
$font-size: 0.88rem;
$font-family: "Roboto", sans-serif;
$font-weight: 400;