/* ----- Home Styles ----- */
// General
.header {
    height:9vh;
    width:107.5vw!important;
    margin-left:-0.8rem!important;
}

// Media Queries
/* ========================================== MIN-WIDTH 600 PX ========================================== */
// @media only screen and (min-width: 600px){
//     .header {
//         width:114vw!important;
//     }
// }