/* ----- Header Styles ----- */
// General
header {
   height: 40vh;
   background-color:$primaryColor;
   width:100vw;
   border-bottom: 4px solid $tertiaryColor;
   margin-left:-13px;

   .header__logo {
      width:70px;
      margin-top:0.7rem; 
   }

   .header__icon {
      color:$tertiaryColor;
      margin: 0.2rem 0 0 3.4rem;
      font-size:($font-size + 1.12rem);

      &:hover {
         cursor: pointer;
         
      }
      &:active {
         color:$senaryColor;;
      }
   }
}

// Media Queries
/* ========================================== MIN-WIDTH 350 PX ========================================== */
@media only screen and (min-width: 350px) {
   .header__icon {
      margin-left:4rem!important;
   }
}


/* ========================================== MIN-WIDTH 375 PX ========================================== */
@media only screen and (min-width: 375px){
   .header__icon {
      margin-left:4.6rem!important;
   }
}

/* ========================================== MIN-WIDTH 400 PX ========================================== */
@media only screen and (min-width: 400px){
   .header__icon {
      margin-left:5rem!important;
   }
}

/* ========================================== MIN-WIDTH 425 PX ========================================== */
@media only screen and (min-width: 425px){
   .header__icon {
      margin-left:5.5rem!important;
   }
}

/* ========================================== MIN-WIDTH 500 PX ========================================== */
@media only screen and (min-width: 500px){
   .header {

      .header__icon {
         display:block;
         position: relative;
         left:1.6rem;
      }
   }  
}

/* ========================================== MIN-WIDTH 600 PX ========================================== */
@media only screen and (min-width: 600px){
   .header {
      .header__icon {
         left:4.8rem;
      }
   }  
}

/* ========================================== MIN-WIDTH 768 PX ========================================== */
@media only screen and (min-width: 768px){
   header {
      width: 30vw;
      height: 8vh;
      border-bottom: none;
      border-right: 4px solid $tertiaryColor;

      .header__icon {
         color: $quaternaryColor;
         position: relative;
         left:62vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 800 PX ========================================== */
@media only screen and (min-width: 800px){
   header {
      .header__icon {
         left:62.5vw!important;
      }
   }
}

 /* ========================================== MIN-WIDTH 900 PX ========================================== */
@media only screen and (min-width: 900px){
   header {
      .header__icon {
         left:64.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1024 PX ========================================== */
@media only screen and (min-width: 1024px){
   header {
      width: 40vw;
      .header__icon {
         left:65.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1100 PX ========================================== */
@media only screen and (min-width: 1100px){
   header {
      .header__icon {
         left:66.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1200 PX ========================================== */
@media only screen and (min-width: 1200px){
   header {
      .header__icon {
         left:67.5vw!important;
      }
   }
}

// /* ========================================== MIN-WIDTH 1300 PX ========================================== */
@media only screen and (min-width: 1300px){
   header {
      .header__icon {
         left:68.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1366 PX ========================================== */
@media only screen and (min-width: 1366px){
   header {
      .header__icon {
         left:69vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1440 PX ========================================== */
@media only screen and (min-width: 1440px){
   header {
      .header__icon {
         left:69.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 1707 PX ========================================== */
@media only screen and (min-width: 1707px){
   header {
      .header__icon {
         left:71vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 2048 PX ========================================== */
@media only screen and (min-width: 2048px){
   header {
      .header__icon {
         left:65.5vw!important;
      }
   }
}

/* ========================================== MIN-WIDTH 2560 PX ========================================== */
@media only screen and (min-width: 2560px){
   header {
      .header__icon {
         left:73vw!important;
      }
   }
}