/* ----- Home Content Styles ----- */

// Extend/Inheritance
%button {
    display: inline-block;
    margin: 0 1rem 1.5rem 0;
    height:42px;
    width: 120px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

// General
.profilePhoto {
    width: 100%;
    height: 20rem;
    display: block;
    margin: 0 auto;
    position: relative;
    top:-12rem;

}

.user {
    text-align: center;
    position: relative;
    top:-10rem;

    &__firstname {
        color: $quinaryColor;
        font-weight: bold;
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }

    &__lastname {
        color: $primaryColor;
        font-weight: bold;
        font-size: 1.5rem;
    }

    &__profileTitle {
        margin:1rem 0 1rem 0;
        font-weight: bold;
    }

    &__profileSummary {
        color: $quaternaryColor;
        margin-bottom: 2rem;
        line-height: normal;
    }

    .button {
        display:inline-block;
        position: relative;
        left:0.5rem;
        .btn {
            &__portfolio {
                @extend %button;
                background-color: $primaryColor;
                color:$tertiaryColor;
        }

            &__resume {
                @extend %button;
                color:$quaternaryColor;
                border:2px solid $quaternaryColor;
            }
        }
    }
    
}