.sidebar {
    display: none;
    border-right: 4px solid $tertiaryColor;
    background-color: $primaryColor;
    margin-left:-13px;
    width: 30vw;
    position: absolute;
    top:8vh;
    bottom: 0;

    &__information {
        position: relative;
        top:55vh;
    }
}

// Media Queries

/* ========================================== MIN-WIDTH 768 PX ========================================== */
@media only screen and (min-width: 768px){
    .sidebar {
        display: block;
        width: 30vw;
        top:7.5vh;
    }
}

// /* ========================================== MIN-WIDTH 800 PX ========================================== */
// @media only screen and (min-width: 800px){
 
// }

// /* ========================================== MIN-WIDTH 900 PX ========================================== */
// @media only screen and (min-width: 900px){
   
// }

// /* ========================================== MIN-WIDTH 1024 PX ========================================== */
@media only screen and (min-width: 1024px){
    .sidebar {
        width: 40vw;
        top:7.5vh;
    }
}

// /* ========================================== MIN-WIDTH 1100 PX ========================================== */
@media only screen and (min-width: 1100px){
    
}

// /* ========================================== MIN-WIDTH 1200 PX ========================================== */
@media only screen and (min-width: 1200px){
   
}

// /* ========================================== MIN-WIDTH 1300 PX ========================================== */
// @media only screen and (min-width: 1300px){
  
// }

// /* ========================================== MIN-WIDTH 1366 PX ========================================== */
// @media only screen and (min-width: 1366px){
  
// }

// /* ========================================== MIN-WIDTH 1440 PX ========================================== */
// @media only screen and (min-width: 1440px){
  
// }

// /* ========================================== MIN-WIDTH 1707 PX ========================================== */
// @media only screen and (min-width: 1707px){
 
// }

// /* ========================================== MIN-WIDTH 2048 PX ========================================== */
// @media only screen and (min-width: 2048px){
  
// }

// /* ========================================== MIN-WIDTH 2560 PX ========================================== */
// @media only screen and (min-width: 2560px){
 
// }