/* ----- Footer Styles ----- */
// General

footer {
    height: 14vh;
    background-color:$primaryColor;
    width:102vw;
    margin-left:-13px;
    margin-right: 0;
    margin-bottom: -20px;

    .socialMedia {
        display: block;
        position: relative;
        left:32vw;
        padding-top:0.5rem;
        width: 50%;

        .findMeOn {
            display: none!important;
        }
    }
    ul {
        color:$tertiaryColor;
        margin-left:3.5vw;
        padding-top:.5rem;
        li {
            display: inline-block;
        }
    }
}

// Media Queries
/* ========================================== MIN-WIDTH 350 PX ========================================== */
@media only screen and (min-width: 350px) {
    footer {
        .socialMedia {
            left:33vw;
        }

        ul {
            margin-left:7.5vw;
        }
    }
}


 /* ========================================== MIN-WIDTH 375 PX ========================================== */
@media only screen and (min-width: 375px){
    footer {
        .socialMedia {
            left:34vw;
        }

        ul {
            margin-left:10vw;
        }
    }
}

 /* ========================================== MIN-WIDTH 400 PX ========================================== */
@media only screen and (min-width: 400px){
    footer {
        .socialMedia {
            left:36vw;
        }

        ul {
            margin-left:13vw;
        }
    }
}

 /* ========================================== MIN-WIDTH 425 PX ========================================== */
@media only screen and (min-width: 425px){
    footer {
        .socialMedia {
            left:37vw;
        }

        ul {
            margin-left:15vw;
        }
    }
}

 /* ========================================== MIN-WIDTH 500 PX ========================================== */
@media only screen and (min-width: 500px){
    footer {
        .socialMedia {
            left:38vw;
        }

        ul {
            margin-left:19vw;
        }
    }
}

 /* ========================================== MIN-WIDTH 600 PX ========================================== */
@media only screen and (min-width: 600px){
    footer {
        .socialMedia {
            left:40vw;
        }

        ul {
            margin-left:25vw;
        }
    }
}

/* ========================================== MIN-WIDTH 768 PX ========================================== */
@media only screen and (min-width: 768px){
    footer {
        display: none;
    }
}