* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Colors */
body {
  background-color: #D2D2D2;
}

.preloader {
  display: block;
  position: relative;
  width: 35%;
  padding-left: 0.5rem;
  top: 47vh;
  margin: 0 auto;
}

.preloader__circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.preloader__circle--purple {
  background-color: #4A21FC;
}

.preloader__circle--white {
  background-color: #fff;
}

/* Preloader media queries styles */
/* ========================================== MAX-WIDTH 320 PX ========================================== */
/* ========================================== MIN-WIDTH 321 PX ========================================== */
@media only screen and (min-width: 321px) {
  .preloader {
    padding-left: 0.5rem;
  }
}

/* ========================================== MIN-WIDTH 350 PX ========================================== */
@media only screen and (min-width: 350px) {
  .preloader {
    padding-left: 0.85rem;
  }
}

/* ========================================== MIN-WIDTH 375 PX ========================================== */
@media only screen and (min-width: 375px) {
  .preloader {
    padding-left: 1.2rem;
  }
}

/* ========================================== MIN-WIDTH 400 PX ========================================== */
@media only screen and (min-width: 400px) {
  .preloader {
    padding-left: 1.4rem;
  }
}

/* ========================================== MIN-WIDTH 425 PX ========================================== */
@media only screen and (min-width: 425px) {
  .preloader {
    padding-left: 1.6rem;
  }
}

/* ========================================== MIN-WIDTH 450 PX ========================================== */
@media only screen and (min-width: 450px) {
  .preloader {
    padding-left: 1.9rem;
  }
}

/* ========================================== MIN-WIDTH 470 PX ========================================== */
@media only screen and (min-width: 470px) {
  .preloader {
    padding-left: 2.1rem;
  }
}

/* ========================================== MIN-WIDTH 500 PX ========================================== */
@media only screen and (min-width: 500px) {
  .preloader {
    padding-left: 2.4rem;
  }
}

/* ========================================== MIN-WIDTH 550 PX ========================================== */
@media only screen and (min-width: 550px) {
  .preloader {
    padding-left: 3rem;
  }
}

/* ========================================== MIN-WIDTH 600 PX ========================================== */
@media only screen and (min-width: 600px) {
  .preloader {
    padding-left: 3.5rem;
  }
}

/* ========================================== MIN-WIDTH 650 PX ========================================== */
@media only screen and (min-width: 650px) {
  .preloader {
    padding-left: 4.2rem;
  }
}

/* ========================================== MIN-WIDTH 700 PX ========================================== */
@media only screen and (min-width: 700px) {
  .preloader {
    padding-left: 4.5rem;
  }
}

/* ========================================== MIN-WIDTH 750 PX ========================================== */
@media only screen and (min-width: 750px) {
  .preloader {
    padding-left: 5.3rem;
  }
}

/* ========================================== MIN-WIDTH 768 PX ========================================== */
@media only screen and (min-width: 768px) {
  .preloader {
    padding-left: 5.5rem;
  }
}

/* ========================================== MIN-WIDTH 800 PX ========================================== */
@media only screen and (min-width: 800px) {
  .preloader {
    padding-left: 5.8rem;
  }
}

/* ========================================== MIN-WIDTH 900 PX ========================================== */
@media only screen and (min-width: 900px) {
  .preloader {
    padding-left: 6.8rem;
  }
}

/* ========================================== MIN-WIDTH 950 PX ========================================== */
@media only screen and (min-width: 950px) {
  .preloader {
    padding-left: 7.3rem;
  }
}

/* ========================================== MIN-WIDTH 1024 PX ========================================== */
@media only screen and (min-width: 1024px) {
  .preloader {
    padding-left: 8.2rem;
  }
}

/* ========================================== MIN-WIDTH 1170 PX ========================================== */
@media only screen and (min-width: 1170px) {
  .preloader {
    padding-left: 9.8rem;
  }
}

/* ========================================== MIN-WIDTH 1280 PX ========================================== */
@media only screen and (min-width: 1280px) {
  .preloader {
    padding-left: 11rem;
  }
}

/* ========================================== MIN-WIDTH 1366 PX ========================================== */
@media only screen and (min-width: 1366px) {
  .preloader {
    padding-left: 11.9rem;
  }
}

/* ========================================== MIN-WIDTH 1440 PX ========================================== */
@media only screen and (min-width: 1440px) {
  .preloader {
    padding-left: 12.7rem;
  }
}

/* ========================================== MIN-WIDTH 1580 PX ========================================== */
@media only screen and (min-width: 1580px) {
  .preloader {
    padding-left: 14.2rem;
  }
}

/* ========================================== MIN-WIDTH 1680 PX ========================================== */
@media only screen and (min-width: 1680px) {
  .preloader {
    padding-left: 15.3rem;
  }
}

/* ========================================== MIN-WIDTH 1800 PX ========================================== */
@media only screen and (min-width: 1800px) {
  .preloader {
    padding-left: 16.7rem;
  }
}

/* ========================================== MIN-WIDTH 1930 PX ========================================== */
@media only screen and (min-width: 1930px) {
  .preloader {
    padding-left: 18.2rem;
  }
}

/* ========================================== MIN-WIDTH 2048 PX ========================================== */
@media only screen and (min-width: 2048px) {
  .preloader {
    padding-left: 19.4rem;
  }
}

/* ========================================== MIN-WIDTH 2170 PX ========================================== */
@media only screen and (min-width: 2170px) {
  .preloader {
    padding-left: 20.8rem;
  }
}

/* ========================================== MIN-WIDTH 2300 PX ========================================== */
@media only screen and (min-width: 2300px) {
  .preloader {
    padding-left: 22.2rem;
  }
}

/* ========================================== MIN-WIDTH 2400 PX ========================================== */
@media only screen and (min-width: 2400px) {
  .preloader {
    padding-left: 23.3rem;
  }
}

/* ========================================== MIN-WIDTH 2500 PX ========================================== */
@media only screen and (min-width: 2500px) {
  .preloader {
    padding-left: 24.3rem;
  }
}

/* ========================================== MIN-WIDTH 2560 PX ========================================== */
@media only screen and (min-width: 2560px) {
  .preloader {
    padding-left: 25.1rem;
  }
}

header {
  height: 32vh;
  background-color: #4A21FC;
  border-bottom: 4px solid #fff;
}
/*# sourceMappingURL=App.css.map */